<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/headerLinks") %>
        <title>S-Cart | Message</title>
</head>
<style>
    /* h4 {
        margin: auto auto;
    } */
    .btn {
    width: 30%;
    display: block;
    margin: auto auto;
}
.contain {
    margin: auto auto;
}
</style>
<body>
    <div class="contain">
    <h4>Your QR Payment will be Verified by the Team, you will recieve a confirmation mail on the Registered E-mail in 1
        day.</h4>
    </div>
    <div>
        <h4 class="feature-title">Thank You for choosing S-Cart.</h4>
    </div>
    <a class="btn btn-success" href="/">Continue Shopping</a>
</body>

</html>