<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerLinks') %>
        <title>S-Cart | Success</title>
</head>
<style>
    .img-success {
        height: 18rem;
        display: block;
        margin: auto auto;
        width: 25%;
    }

    .btn {
        width: 30%;
        display: block;
        margin: auto auto;
    }
</style>

<body>
    <img class="center img-success" src="../../public/img/success.png" alt="">
    <div>
        <h2>Order Placed Successfully</h2>
        <h4 class="feature-title">Thank You for Choosing S-Cart</h4>
    </div>
    <a class="btn btn-success" href="/">Continue Shopping</a>

</body>
<%- include('../partials/FooterLinks') %>

</html>