<nav>
    <div class="logo"><a href="/"><img src="public/img/home.png" class="img-fluid-logo" alt="logo"></a></div>
    <ul class="nav-links <%= status %>">
        <li>
            <a href="/boys">Boys</a>
        </li>
        <li>
            <a href="/girls">Girls</a>
        </li>
        <li>
            <a href="/kids">Kids</a>
        </li>
        <li>
            <a href="/gifts">Gifts</a>
        </li>
        <!-- <li class="ms-lg-auto">
            <a href="#"><i class="fas fa-search"></i></a>
        </li> -->
        <li class="ms-lg-auto"></li>

        <li class="order">
            <a href="/orders">Orders</a>
        </li>

        <li class="cart">
            <a href="/cart">Cart
                <% if(quantity>0){ %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%= quantity %>
                    </span>
                <% } %>
            </a>
        </li>

        <li class="user-link register">
           <a href="/register">Register</a>
        </li>

        <li class="user-link login">
            <a href="/login">Login</a>
        </li>

        <li class="user-link logout">
            <a href="/logout">Logout</a>
        </li>
    </ul>

    
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>