<nav>
    <div class="logo"><a href="/"><img src="public/img/Logo.png" class="img-fluid" alt="logo"></a></div>
    <ul class="nav-links">
        <li>
            <a href="/boys">Boys</a>
        </li>
        <li>
            <a href="#">Girls</a>
        </li>
        <li>
            <a href="#">Kids</a>
        </li>
        <li>
            <a href="#">Combo Offers</a>
        </li>
        <!-- <li class="ms-lg-auto">
            <a href="#"><i class="fas fa-search"></i></a>
        </li> -->
        <li class="ms-lg-auto"></li>

        <li class="orders <%= status %>">
            <a href="#">Orders</a>
        </li>

        <li class="cart <%= status %>">
            <a href="#">Cart</a>
        </li>

        <li class="user-link register">
           <a href="/register">Register</a>
        </li>

        <li class="user-link login">
            <a href="/login">Login</a>
        </li>

        <li class="user-link logout">
            <a href="/logout">Logout</a>
        </li>
    </ul>

    
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>